<div class="col-md-6 col-md-offset-2">
  <div class="well">
    <h1>Signup</h1>

    <%= simple_form_for @user, url: '/users'  do |f| %>
        <%= f.input :name %>
        <%= f.input :email %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
        <%= f.submit class: 'btn btn-info' %>
    <% end %>
  </div>
</div>
